In [14]:
import pandas as pd
from pyod.models.auto_encoder import AutoEncoder
from sklearn import set_config

# set_config(transform_output="pandas")

In [15]:
df = pd.DataFrame({
    "Kategorie":["Katze","Katze","Katze","Katze","Katze","Katze","Maus",
                 "Hund","Hund","Hund","Hund","Hund","Hund","Hund","Giraffe"]
})
df

   Kategorie
0      Katze
1      Katze
2      Katze
3      Katze
4      Katze
5      Katze
6       Maus
7       Hund
8       Hund
9       Hund
10      Hund
11      Hund
12      Hund
13      Hund
14   Giraffe

In [16]:
from category_encoders import BinaryEncoder

encoder = BinaryEncoder(handle_unknown='indicator', handle_missing="indicator")
encoder.fit(df)

transformed_df = encoder.transform(df)
transformed_df

    Kategorie_0  Kategorie_1  Kategorie_2
0             0            0            1
1             0            0            1
2             0            0            1
3             0            0            1
4             0            0            1
5             0            0            1
6             0            1            0
7             0            1            1
8             0            1            1
9             0            1            1
10            0            1            1
11            0            1            1
12            0            1            1
13            0            1            1
14            1            0            0

In [17]:
clf = AutoEncoder(contamination=0.1, hidden_neurons=[3,1,3], epochs=20)
clf_fitted = clf.fit(transformed_df)
pred_error = clf_fitted.decision_function(transformed_df)
# pred_error = clf_fitted.predict(transformed_df)

Model: "sequential_4"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_24 (Dense)            (None, 3)                 12

 dropout_20 (Dropout)        (None, 3)                 0

 dense_25 (Dense)            (None, 3)                 12

 dropout_21 (Dropout)        (None, 3)                 0

 dense_26 (Dense)            (None, 3)                 12

 dropout_22 (Dropout)        (None, 3)                 0

 dense_27 (Dense)            (None, 1)                 4

 dropout_23 (Dropout)        (None, 1)                 0

 dense_28 (Dense)            (None, 3)                 6

 dropout_24 (Dropout)        (None, 3)                 0

 dense_29 (Dense)            (None, 3)                 12

=================================================================
Total params: 58
Trainable params: 58
Non-trainable params: 0
_________________________________________________________________
None
Epoch 1/20
1/1 [==============================] - 0s 483ms/step - loss: 1.9701 - val_loss: 1.2833
Epoch 2/20
1/1 [==============================] - 0s 22ms/step - loss: 1.8425 - val_loss: 1.2811
Epoch 3/20
1/1 [==============================] - 0s 21ms/step - loss: 1.8951 - val_loss: 1.2790
Epoch 4/20
1/1 [==============================] - 0s 20ms/step - loss: 1.9547 - val_loss: 1.2769
Epoch 5/20
1/1 [==============================] - 0s 20ms/step - loss: 1.8659 - val_loss: 1.2747
Epoch 6/20
1/1 [==============================] - 0s 21ms/step - loss: 1.9114 - val_loss: 1.2726
Epoch 7/20
1/1 [==============================] - 0s 20ms/step - loss: 1.9134 - val_loss: 1.2705
Epoch 8/20
1/1 [==============================] - 0s 20ms/step - loss: 1.8091 - val_loss: 1.2684
Epoch 9/20
1/1 [==============================] - 0s 20ms/step - loss: 1.8854 - val_loss: 1.2663
Epoch 10/20
1/1 [==============================] - 0s 20ms/step - loss: 1.7998 - val_loss: 1.2643
Epoch 11/20
1/1 [==============================] - 0s 21ms/step - loss: 1.8736 - val_loss: 1.2622
Epoch 12/20
1/1 [==============================] - 0s 20ms/step - loss: 1.8709 - val_loss: 1.2602
Epoch 13/20
1/1 [==============================] - 0s 21ms/step - loss: 1.7901 - val_loss: 1.2582
Epoch 14/20
1/1 [==============================] - 0s 21ms/step - loss: 1.8748 - val_loss: 1.2562
Epoch 15/20
1/1 [==============================] - 0s 28ms/step - loss: 1.8503 - val_loss: 1.2542
Epoch 16/20
1/1 [==============================] - 0s 21ms/step - loss: 1.8089 - val_loss: 1.2522
Epoch 17/20
1/1 [==============================] - 0s 22ms/step - loss: 1.8852 - val_loss: 1.2502
Epoch 18/20
1/1 [==============================] - 0s 21ms/step - loss: 1.8392 - val_loss: 1.2483
Epoch 19/20
1/1 [==============================] - 0s 21ms/step - loss: 1.8743 - val_loss: 1.2464
Epoch 20/20
1/1 [==============================] - 0s 22ms/step - loss: 1.8191 - val_loss: 1.2445
WARNING:tensorflow:5 out of the last 9 calls to <function Model.make_predict_function.<locals>.predict_function at 0x000001F8AD448820> triggered tf.function retracing. Tracing is expensive and the excessive number of tracings could be due to (1) creating @tf.function repeatedly in a loop, (2) passing tensors with different shapes, (3) passing Python objects instead of tensors. For (1), please define your @tf.function outside of the loop. For (2), @tf.function has reduce_retracing=True option that can avoid unnecessary retracing. For (3), please refer to https://www.tensorflow.org/guide/function#controlling_retracing and https://www.tensorflow.org/api_docs/python/tf/function for  more details.
1/1 [==============================] - 0s 51ms/step
1/1 [==============================] - 0s 11ms/step

In [18]:
df["pred_error"] = pred_error
df

   Kategorie  pred_error
0      Katze    1.742784
1      Katze    1.742784
2      Katze    1.742784
3      Katze    1.742784
4      Katze    1.742784
5      Katze    1.742784
6       Maus    3.161448
7       Hund    0.875656
8       Hund    0.875656
9       Hund    0.875656
10      Hund    0.875656
11      Hund    0.875656
12      Hund    0.875656
13      Hund    0.875656
14   Giraffe    4.728426